
    <!-- Blog HTML -->
    <section id="blog">
        <div class="container"> 
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1"> 

                    <!-- Blog Post -->

                    <ul>
                    {% for post in site.posts %}
                        <li>
                            <a href="{{ site.baseurl }}{{ post.url }}">
                                {{ post.name }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>

                </div>
            </div> 
        </div>
    </section>
